body, html{
    font-family: 'Montserrat', sans-serif;
}

.newsletter-block{
    height: 20em;
}

.post-categories{
    text-transform: uppercase;
}

.readers-post-container,
.readers-post-container .row:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.readers-block{
    padding-bottom:3rem ;
    padding-top:3rem;
}

.popular-categories{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.popular-categories ul{
    display:inline-flex;
    width:100%;
    padding:0 .3em;
    justify-content: space-around;
}

.popular-categories ul li{
    text-transform: capitalize;
    color:#41294e;
    padding:0 2em;
    border:solid 1px #e6e6e6;
    border-radius: 100px;
    background-color:white;
    padding: 6px 15px !important;
    border-radius: 30px;
    transition: .3s background,font-weight ease-in-out;
}

.popular-categories ul li.lg{
    padding: 6px 35px !important;
}

.popular-categories ul li:hover,
.popular-categories ul li.active{
    text-transform: capitalize;
    background-color:#f46036;
    color:white !important;
    border: solid 0px;    
}

.popular-categories ul li.active{
    font-weight: 600;
}

.comments-button{
    margin-top:-.2em;
    border: solid 0;
    border-radius:100%;
    width:max-content;
}

.comments-button span{
    font-size: 0.5em;
    font-weight: 700;
}

.anchor{
    text-decoration: none !important;
    color:inherit;
}

.anchor:hover{
    color:inherit;
}

.post-tags ul li{
    border-radius:5px;
}

@media screen and (min-width: 525px) {
    .readers-block{
        padding-bottom:0;
        padding-top:0;
    }
}
