body, 
html,
h1,
h2,
h3,
h4,
h5,
h6{
    width:100%;
    padding:0;
    margin: 0;
}
body{
    height:1000px;
}

article{
    text-decoration: none;
}

/* z-index */
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.z-index-4{
    z-index: 4;
}

/* *{
    font-family: 'Mystery Quest', cursive;
} */

*{
    font-family: sans-serif;
}

.fit-height{
    height:100%;
}

.fit-content{
    height: max-content;
    width: max-content;
}

.bg-primary{
    background-color:#41294e !important;
}
.bg-secondary{
    background-color:#f46036 !important;
}

.bg-gray-1{
    background-color: #f1f1f1;
}

.bg-white{
    background-color: #fff;
}
.c-primary{
    color:#41294e !important;
}
.c-secondary{
    color:#f46036 !important;
}
.c-white{
    color:#fff;
}
.c-gray-1{
    color:#f1f1f1;
}
.c-gray-2{
    color:#a1a1a1;
}
.c-gray-3{
    color:#333;
}
.b-lightgray{
    border-color: lightgray !important;
}

.border-b-1{
    border-bottom:solid 1px;
}

.bg-image-default {
    background-size:cover;
    background-position: center;
}

.of-hidden{
    overflow: hidden;
}

.fit-width{
    width:100%;
}

.flex{
    display: flex;
}

.post-text > p{
    line-height: 1.8em;
}

.rounded{
    border-radius:50% !important;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.f-08{
    font-size: 0.8em;
}
.f-1{
    font-size:1em;
}
.f-2{
    font-size:1.4em !important;
}
.f-3{
    font-size:2em;
}
.f-4{
    font-size:4em;
}

.f-w-700{
    font-weight: 700;
}
.f-w-900{
    font-weight: 900;
}